<div class="jumbotron">
  <div class="container">
    <div class="col-md-12 ">

      <div class="card  mb-3">
        <div class="card-header">Upload an Image</div>
        <div class="card-body">
          <h4 class="card-title">Select an Image to Upload</h4>
          <input 
            type="file" 
            name="image" 
            id="image" 
            class="btn btn-info btn-block"
            (change) = "handleFileInput($event.target.files)"
            >
        </div>
      </div>
    </div>
    <div > 
      <hr>
        <h3 style="font-weight: 100; font-size: 16px;">Uploaded Images</h3>
        <div class="card" *ngFor="let image of images">
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <img class="img" [src]= "getImageUrl(image.image)" alt="imageTitle">
          </div>
          <div class="col-md-4 col-sm-12">
            <span class="mt-5">
              <button class="btn btn-success mx-3"  style=" margin-top: 50px;" (click)="approveImage(image.id)"  >Approve</button> 
              <button class="btn btn-warning"  style=" margin-top: 50px;" (click)="rejectImage(image.id)" >Reject</button>
            </span>
          </div>
        </div>
          
        </div>
      </div>

  </div>
</div>
